* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aptos Serif', serif;
}

:root {
  --mhfd-dark-blue: #06242D;
  --mhfd-purple: #80A7F7;
  --mhfd-blue: #62b4cc;
  --medium-green: #29C499;
  --medium-taupe: #A29F8B;
  --soft-purple: #191533;
  --soft-blue: #66D4FF;
  --soft-teal: #66E0D5;
  --bright-yellow: #FFDD00;
  --deep-purple: #251863;
  --deep-blue: #0079A8;
  --deep-green: #1C8281;
  --deep-taupe: #787263;
  --mhfd-gradient: linear-gradient(90deg, var(--mhfd-purple), var(--mhfd-blue));
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}