@font-face {
    font-family: 'Aptos Serif';
    src: url('../fonts/Aptos-Serif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Serif Bold';
    src: url('../fonts/Aptos-Serif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos Serif Italic';
    src: url('../fonts/Aptos-Serif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aptos Serif', serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

:root {
    --mhfd-dark-blue: #06242D;
    --mhfd-purple: #80A7F7;
    --mhfd-blue: #62b4cc;
    --medium-green: #29C499;
    --medium-taupe: #A29F8B;
    --soft-purple: #191533;
    --soft-blue: #66D4FF;
    --soft-teal: #66E0D5;
    --bright-yellow: #FFDD00;
    --deep-purple: #251863;
    --deep-blue: #0079A8;
    --deep-green: #1C8281;
    --deep-taupe: #787263;
    --mhfd-gradient: linear-gradient(90deg, var(--mhfd-purple), var(--mhfd-blue));
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    flex: 1;
}

header {
    color: white;
    background-color: var(--mhfd-dark-blue);
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    & nav {
        display: flex;
        align-items: center;

        img {
            margin-right: 1rem;
        }
    }

    h2 {
        margin-top: 1rem;
        font-size: 1.5rem;

        span {
            font-size: xx-large;
            background-color: var(--bright-yellow);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

footer {
    background-color: var(--mhfd-dark-blue);
    color: white;
    text-align: center;
    padding: 1rem 0;

    p {
        margin: 0;
    }
}

.search {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem;

    input[type="text"] {
        padding: 0.5rem;
        border: 1px solid var(--mhfd-dark-blue);
        border-radius: 4px;
        width: 300px;
        margin-right: 0.5rem;
    }

    button {
        padding: 0.5rem 1rem;
        background: var(--mhfd-dark-blue);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: var(--mhfd-purple);
        }
    }
}

.hero {
    margin-top: 1rem;
    border-bottom: 3px solid var(--mhfd-dark-blue);
    background: var(--mhfd-gradient);
    color: white;
    padding: 2rem;
    text-align: center;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.25rem;
        font-style: italic;
    }
}

.history {
    background: var(--mhfd-blue);
    border-bottom: 3px solid var(--mhfd-dark-blue);
    color: white;
    text-align: center;
    padding: 1rem;

    h2 {
        color: var(--mhfd-dark-blue);
        text-align: center;
    }

    .history-block {
        max-width: 1000px;
        margin: 0 auto;
        text-align: left;

        ul {
            list-style: disc;
            padding-left: 1.5rem;

            li {
                margin-bottom: 0.5rem;
            }
        }

        p {
            font-style: italic;
        }
    }
}

#cardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow-y: auto;
    max-height: 50vh;
    padding-top: 1rem;

    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
        cursor: pointer;
        text-align: center;
        background: white;
        border: 1px solid var(--mhfd-dark-blue);
        border-radius: 8px;
        transition: transform 0.2s;
        
        h3 {
            color: white;
            padding: 0.25rem;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-color: var(--mhfd-dark-blue);
            margin-bottom: 0.5rem;

            span {
                font-size: small;
                color: var(--bright-yellow);
            }
        }

        .card-difficulty {
            display: flex;
            justify-content: end;
            font-weight: bold;
            text-transform: capitalize;
            margin: 0 1rem;
        }

        .card-difficulty.easy {
            color: green;
        }

        .card-difficulty.medium {
            color: orange;
        }

        .card-difficulty.hard {
            color: red;
        }

        &-flex {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            padding: 0 1rem 0 1rem;
        }

        p {
            color: var(--mhfd-dark-blue);

            &.card-description {
                font-style: italic;
                padding: 0.5rem;
            }

            &.card-popularity, &.card-cost {
                font-weight: bold;
                margin-top: 0.5rem;

                span {
                    font-size: large;
                }
            }

            &.card-cost {
                display: flex;
                align-items: baseline;

                .card-cost-cent {
                    font-size: small;
                    margin-left: 2px;
                }
            }
        }

        &:hover {
            transform: translateY(-5px);
        }
    }
}

#resultCount {
    display: flex;
    justify-content: end;
    margin: 0.5rem 0;
    
    span {
        margin: 0 4px;
        font-weight: bold;
        color: var(--mhfd-dark-blue);
    }
}